#back {
  padding: 12% 7%;
  position: relative;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 5rem;
  padding: 5%;
  font-style: italic;
  font-weight: bolder;
  color: #B05B3B;
}

.back-img {
  position: absolute;
  width: 100%;
  opacity: 15%;
  height: 80%;
}
